@import "tailwindcss";

body {
  @apply bg-gray-50 text-slate-800;
}

@keyframes peelOff {
  0% {
    transform: rotate(0deg) scale(1) translateY(0);
    opacity: 1;
  }
  50% {
    transform: rotate(-15deg) scale(0.9) translateY(-20px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotate(-30deg) scale(0.5) translateY(-100px);
    opacity: 0;
  }
}

.animate-peel {
  animation: peelOff 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}